resources:
- ../../base

nameSuffix: -dev

patches:
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
  target:
    kind: Rollout
    name: guestbook-ui
images:
- name: udemykcloud534/guestbook
  newTag: 35140a7
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
